# Copy this file to .env and fill in your values

# MongoDB connection string
# Local:  mongodb://127.0.0.1:27017/ciphervote
# Atlas:  mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/ciphervote
MONGO_URI=mongodb://127.0.0.1:27017/ciphervote

PORT=5000
